:root {
  --primary-color: #6610f2;
  --divider-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px var(--divider-color) solid;
}

.logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;

  display: flex;
  align-items: baseline;
  letter-spacing: -0.02em;
  margin-left: 1rem;
  display: none;
}

.hamburger {
  display: contents;
}

@media screen and (min-width: 768px) {
  .logo {
    display: block;
  }

  .hamburger {
    display: none;
  }
}
