:root {
  --primary-color: #6610f2;
  --divider-color: rgba(0, 0, 0, 0.1);

  --h1: 3.052rem; /*48.83px*/
  --h2: 2.441rem; /*39.06px*/
  --h3: 1.953rem; /*31.25px*/
  --h4: 1.563rem; /*25.00px*/
  --h5: 1.25rem; /*20.00px*/
  --base-font-size: 1rem; /*16.00px*/

  --sans-serif-font: Poppins, sans-serif;
  --serif-font: "PT Serif", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: white;
}

a {
  font-family: var(--sans-serif-font);
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--primary-color);
}

button:hover {
  cursor: pointer;
}

.navbar {
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--divider-color);
}

.logo {
  font-family: var(--sans-serif-font);
  font-style: normal;
  font-weight: 600;
  font-size: var(--h5);

  display: flex;
  align-items: baseline;
  letter-spacing: -0.02em;
  display: none;
}

#logo-glyph {
  width: 11px;
  height: 11px;
  fill: var(--primary-color);
}

.sidebar-toggle {
  display: contents;
  margin-left: 1rem;
}

#hamburger {
  width: 32px;
  height: 32px;
  fill: black;
}

@media screen and (min-width: 768px) {
  .logo {
    display: block;
  }

  #hamburger {
    display: none;
  }
}

.sidebar {
  height: 100vh;
  width: 16rem;
  position: fixed;
  top: 4rem;
  z-index: 1;
  padding-top: 1rem;
  overflow-x: hidden;
  transition: transform 0.2s ease;
  border-right: 1px solid var(--divider-color);
  background-color: white;
}

@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-16rem);
  }
}

.sidebar ul li {
  list-style: none;
}

.sidebar .sidebar-link {
  display: block;
  padding-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: var(--h5);
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 100%;
}

.sidebar-subheader-link {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-size: var(--base-font-size);
}

.active {
  border-left: 4px solid var(--primary-color);
}

.sidebar-open {
  transform: translateX(0%);
}

#external-link {
  margin-left: 0.2rem;
}

#box-arrow {
  width: 16px;
  height: 16px;
  fill: black;
}

main {
  display: flex;
  flex-grow: 1;
  /* row-gap: 1rem; */
  flex-wrap: wrap;
  /* padding-left: 2rem;
  padding-right: 2rem; */
  padding-top: 4rem;
}

footer {
  display: flex;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  font-family: var(--sans-serif-font);
  font-weight: 600;
  font-size: var(--base-font-size);
  justify-content: flex-end;
  border-top: 1px solid var(--divider-color);
  background-color: white;
}

footer a {
  display: flex;
}

@media screen and (min-width: 768px) {
  main {
    margin-left: 16rem;
    transition: transform 0.2s ease;
  }
}

.highlight {
  color: var(--primary-color);
}

.page {
  /* margin-left: 1rem;
  margin-right: 1rem; */
  width: 100%;
}

@media screen and (min-width: 375px) {
  .page {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

p {
  margin: 1rem;
  font-family: var(--sans-serif-font);
  font-size: var(--base-font-size);
  text-align: left;
  text-transform: initial;
  font-weight: initial;
  letter-spacing: 0;
}

.row {
  width: 100%;
}

.section-column {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .column {
    width: 50%;
  }
}

.go-next-link {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: right;
}

.page-link {
  text-transform: uppercase;
  font-size: var(--h4);
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-level-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--sans-serif-font);
  font-size: var(--h1);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

.text-level-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--sans-serif-font);
  font-size: var(--h2);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

.text-level-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--sans-serif-font);
  font-size: var(--h3);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  text-align: center;
}

.text-level-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--sans-serif-font);
  font-size: var(--h4);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.02rem;
  text-align: center;
  text-transform: uppercase;
}

.text-level-5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--sans-serif-font);
  font-size: var(--h5);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.02rem;
  text-align: center;
  text-transform: uppercase;
}

#setup-list {
  list-style-position: inside;
}

.section-expandable {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  display: flex;
  flex-wrap: wrap;
  width: min-content;
  justify-content: center;
  /* text-align: center; */
  letter-spacing: 0;
}

.centered-text {
  max-width: 16rem;
  align-self: center;
}

.text-body {
  margin: 1rem;
  font-family: var(--sans-serif-font);
  font-size: var(--base-font-size);
  text-align: left;
  letter-spacing: 0;
}

.text-caption {
  /* margin-top: 0.5rem; */
  margin-bottom: 1rem;
  font-family: var(--serif-font);
  font-size: var(--base-font-size);
  font-style: italic;
  max-width: 16rem;
  text-align: center;
  text-transform: initial;
  font-weight: initial;
  line-height: 175%;
  letter-spacing: 0;
}

.fig-subheading {
  /* margin-top: 1rem; */
  max-width: 320px;
}

@media screen and (min-width: 768px) {
  .text-caption {
    text-align: center;
  }
}

.page-nav-links {
  display: flex;
  justify-content: space-between;
}
